.idea/*
.idea
.settings
.settings/*
bin/*
bin
*.jar
*.tar.gz
/src/com/NoName_hacke_/Artric/sus.java

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
